@{

    ViewBag.Title = "Add Object";
}

<h2>Add Object</h2>
<strong id="info"></strong>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<table>
    <tr>
        <td><input type="text" id="label"/></td>
        <td><input type="file" id="archive"/></td>
    </tr>
</table>

<div style="margin-top:2%">
    <input type="button" class="btn-success" value="Add Object" id="add_object" />
</div>
<script src="~/js/upload.js"></script>
